body {
    padding-top: 64px;
    font-family: "Inter", sans-serif;
}

.selectric .button:after {
    content: none;
}

.dashcat__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #262626;
    margin-bottom: 24px;
}

.dashcat__stats {
    display: flex;
    margin-bottom: 24px;
}
.stats-dashcat__item {
    width: 100%;
    padding: 12px 16px;
    background: #F7F7F7;
    border-radius: 16px;
}
.stats-dashcat__item + .stats-dashcat__item {
    margin-left: 8px;
}
.stats-dashcat__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
    margin: 0 0 8px;
}
.stats-dashcat__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin: 0;
}

.dashcat__filter {
    margin-bottom: 24px;
}
.dashcat__filter .filter-objects__select.city,
.dashcat__filter .filter-objects__select.category,
.dashcat__filter .filter-objects__select.status {
    flex-basis: 155px;
    max-width: 155px;
}
.dashcat__filter .filter-objects__checkblock span {
    padding: 0 10px;
    display: block;
    width: 100%;
}
.dashcat__filter .selectric .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    height: 100%;
    padding: 22px 0 0 12px;
    margin: 0;
}

.filter-objects__radios {
    display: flex;
}
.filter-objects__radio {
    position: relative;
}
.filter-objects__radio + .filter-objects__radio {
    margin-left: 4px;
}
.filter-objects__radio input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}
.filter-objects__radio span {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #5947B3;
    display: block;
    padding: 0 12px;
    background: #F7F6FB;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    transition: background .35s, color .35s;
}
.filter-objects__radio input:checked ~ span {
    color: #333333;
    background: #E9E6FA;
}

.dashcat__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    margin-bottom: 24px;
}
.dashcat__total {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #A6A5AD;
    margin-left: 4px;
}

.dashcat__table {
    display: none;
}
.dashcat__table.active {
    display: block;
}
.dashcat__head,
.dashcat__body {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr .8fr .7fr 1fr .25fr .25fr .5fr .33fr .25fr .25fr;
}
.dashcat__table.default .dashcat__head,
.dashcat__table.default .dashcat__body {
    grid-template-columns: 14fr 2fr 2.6fr 3.25fr 2fr 1fr 3fr 2fr 1fr 1fr;
}

.dashcat__head {
    padding-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 4px;
}

.dashcat__body {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 4px;
    padding-bottom: 4px;
}


.dashcat__head .dashcat__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}
.dashcat__item {
    position: relative;
}

.dashcat__body .dashcat__item {
    padding: 4px 8px;
    background: #F7F7F7;
    border-radius: 4px;
}
.dashcat__body .dashcat__item.error {
    color: #F14C53;
    background: rgba(241, 76, 83, 0.08);
    border: 1px solid #F14C53;
    border-radius: 4px;
}
.dashcat__body .dashcat__item.bad {
    background: rgba(241, 76, 83, 0.08);
    border-radius: 4px;
}
.dashcat__body .dashcat__item.good {
    background: rgba(38, 165, 122, 0.08);
    border-radius: 4px;
}
.dashcat__sl {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url('../image/dictionary-no.svg') center / cover no-repeat;
    position: relative;
}
.dashcat__sl.active {
    background: url('../image/dictionary-yes.svg') center / cover no-repeat;
}
.dashcat__item:hover .sl-dashcat__popup {
    opacity: 1;
    pointer-events: all;
    user-select: auto;
}
.sl-dashcat__popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    white-space: nowrap;
    padding: 12px 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(37, 36, 41, 0.04), 0px 2px 8px rgba(37, 36, 41, 0.12);
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity .35s;
}
.sl-dashcat__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
    margin: 0 0 4px;
}
.sl-dashcat__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
}
.dashcat__status {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border-radius: 50%;
    background: #FF4242;
}
.dashcat__status.dashcat__status-active {
    background: #01B957;
}
.dashcat__status.dashcat__status-broker {
    background: #FFC61A;
}
.dashcat__edit {
    cursor: pointer;
}
.dashcat__edit .icon {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-mask: url('../image/edit.svg') center / cover no-repeat;
            mask: url('../image/edit.svg') center / cover no-repeat;
    background: #7C7A87;
    margin: 0 auto;
    transition: background .35s;
}
.dashcat__edit:hover .icon {
    background: #5947B3;
}

.dashcat__dot {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px auto 0;
    border-radius: 50%;
    background: #7C7A87;
}
.dashcat__item.good .dashcat__dot {
    background: #26A57A;
}

.dashcat__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #A6A5AD;
    margin-top: 4px;
    display: block;
    transition: color .35s;
}
.dashcat__link:hover {
    color: #5947B3;
}
.dashcat__seo {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}